*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:aquamarine;
}

.container{
    height: 960px;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px black;
}

.resizeBtn{
    color: white;
    background-color: rebeccapurple;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid black;
}
.square{
    box-sizing: border-box;
    border: 1px solid blue;
}